In [1]:
'''Import modules'''
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.options.display.float_format ='{:.2f}'.format
from IPython.display import HTML

In [2]:
'''Import ata'''
df = pd.read_csv('movies_complete.csv')

In [3]:
''' Recreate DF movie with some columns'''
df_best = df[['poster_path','title','budget_musd','revenue_musd',
            'vote_count','vote_average','popularity']].copy(deep=True)

df_best.columns = ['','Title', 'Budget', 'Revenue','Votes','Average Ratings','Popularity']
df_best.set_index("Title", inplace=True)

In [4]:
# buat Profit Revenue - Budget
df_best['Profit'] = df_best.Revenue.sub(df_best.Budget)

# buat ROI Revenue / Budget
df_best['ROI'] = df_best.Revenue.div(df_best.Budget)

In [5]:
# Fill NaN/NA with 0
df_best.Budget.fillna(0, inplace=True)
df_best.Votes.fillna(0,inplace=True)

USING LOC AND ANOTHER FUNCTION OR METHOD TO QUERRY AND FILTER COLUMNS WITH TERMS

In [6]:
# top movies by revenue
HTML( df_best.loc[:,["",'Revenue']].sort_values(by='Revenue', ascending=False).head().to_html(escape=False))

In [7]:
# top pricy movies
HTML(df_best.loc[:,["",'Budget']].sort_values(by='Budget', ascending=False).head().to_html(escape=False))

In [8]:
# highest profit movies
HTML(df_best.loc[:,["",'Profit']].sort_values(by='Profit', ascending=False).head().to_html(escape=False))

In [9]:
# lowest profit movies (loss)
HTML(df_best.loc[:,["",'Profit']].sort_values(by='Profit', ascending=True).head().to_html(escape=False))

In [10]:
# highest ROI
HTML(df_best.query("Budget>10").loc[:,["",'ROI']].sort_values(by='ROI', ascending=False).head().to_html(escape=False))

In [11]:
HTML(df_best.loc[(df_best.Budget>=0)&(df_best.Votes>=0),["","ROI"]].sort_values(by='ROI', ascending=False).head().to_html(escape=False))

In [12]:
HTML(df_best.loc[(df_best.Budget==100)&(df_best.Votes>=0),["","ROI"]].sort_values(by='ROI', ascending=True).head().to_html(escape=False))

In [13]:
# Most Votes
HTML(df_best.loc[:,["",'Votes']].sort_values(by='Votes',ascending=False).head().to_html(escape=False))

In [14]:
#Highest Ratings
HTML(df_best.query('Votes>=100').loc[:,["",'Average Ratings']].sort_values(by='Average Ratings',ascending=False).head().to_html(escape=False))

In [15]:
#lowest rating
HTML(df_best.query('Votes>=100').loc[:,["",'Average Ratings']].sort_values(by='Average Ratings',ascending=True).head().to_html(escape=False))

In [16]:
# Combine Lowest ratings with minimum vote 110 and budget >20 
HTML(df_best.query('Votes>=110'and 'Budget >=20').loc[:,["",'Average Ratings']].sort_values(by='Average Ratings',ascending=True).head().to_html(escape=False))

In [17]:
# MOst Popular Movies
HTML(df_best.loc[:,["",'Popularity']].sort_values(by='Popularity',ascending=False).head().to_html(escape=False))